table{
	width:100%;
}
table,td{
	border:1px solid black;
	border-collapse:collapse;
	margin:1px;
}
td{
	height:10px;
	padding:1px;
}

#table-1 .center{
	text-align:center;
}
#table-1 .right{
	text-align:right;
}
img{
	display:block;
	margin:auto;
}